*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/*.mobile{
    position: relative;
    width: 360px;
    height: 640px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    overflow: hidden ;
}*/

header{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241217/pngtree-turquoise-a-close-up-of-capturing-its-vibrant-blue-green-hue-image_16817592.jpg);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
}

.title{
    background:transparent;
    backdrop-filter: blur(12px);
    height: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
}

.title b{
    margin-left: 5%;
    font-size: 18pt;
}

.menu{
position: sticky;
background-color: #418495;
padding: 12px;
color: white;
width: 100px;
text-align: center;
border-radius: 10px;
position: absolute;
top: 10%;
right: 5%;
cursor: pointer;
}
.introduction{
    margin-top: 8%;
    text-align: center;
}
.subject{
    width: 100%;
    height: 300px;
    padding: 12px 16px;
    height: auto;
    border: 1px solid rgb(100, 100, 100);
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.box{
    width: 100%;
    height: 80px;
    border-left: 5px solid #418495;
    margin-bottom: 5%;
    border-right:none;
    border-top: none;
    border-bottom: none;
    padding: 25px 16px;
    box-shadow: 0 3px 10px -6px rgb(114, 114, 114);
    border-radius: 5px;
    overflow: hidden;
}



